# 1. Variables que lee el contenedor Docker de PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_aqui
POSTGRES_DB=copernicus_db

# 1.5 Y recuerda que tu URL de SQLAlchemy ahora debe apuntar al nombre del contenedor (db) en lugar de localhost:
SQLALCHEMY_DATABASE_URL=postgresql+asyncpg://postgres:tu_password_aqui@db:5432/copernicus_db
# -----
# 2. Base de Datos (Usando asyncpg para máximo rendimiento asíncrono) 
# En entornos sin Dcker
SQLALCHEMY_DATABASE_URL=postgresql+asyncpg://postgres:tu_password_aqui@localhost:5432/copernicus_db

# 3. Frontend
FRONTEND_URL=http://localhost:5173

# 4. Seguridad y JWT
# Genera una clave fuerte para producción (ej. openssl rand -hex 32)
SECRET_KEY=mi_super_clave_secreta_de_desarrollo_local_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440