# 1. Base de Datos (Usando asyncpg para máximo rendimiento asíncrono)
SQLALCHEMY_DATABASE_URL=postgresql+asyncpg://postgres:tu_password_aqui@localhost:5432/copernicus_db

# 2. Frontend
FRONTEND_URL=http://localhost:5173

# 3. Seguridad y JWT
# Genera una clave fuerte para producción (ej. openssl rand -hex 32)
SECRET_KEY=mi_super_clave_secreta_de_desarrollo_local_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440